.puki-logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
    cursor: pointer;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

